
<%if(colls.length != 0){
    if(userColls){
      var userColls = false;
    }
  %>
  <div class='row'>
    <div class='col-md-12'>

       <div class="row list-group">
  <%for(var i = 0; i < colls.length;i++){
    var C = colls[i];
    %>

    <div class="item  col-md-4 col-lg-4">
         <div class="thumbnail">
             <a href='/collection/<%=C.coll_id%>'>
               <img class="group list-group-image" src='/img/collection_pics/<%=C.coll_id%>' onerror="this.src='/img/collection_pics/default.png'" />
             </a>
             <div class="caption">
                 <a href='/item/<%=C.coll_id%>'>
                   <h4 class="group inner list-group-item-heading text-center lead">
                     <%=C.collName%>
                   </h4>
                  </a>

                  <%if(C.username){%>
                  <a href='/users/<%=C.user_id%>'>
                     <p class="group inner list-group-item-text">
                        By: <%=C.username%>
                     </p>
                   </a>
                   <%}%>
             </div>
         </div>
     </div>

  <%}%>
    </div>
  </div>
</div>

<%}else{%>
  <h4 class='text-center'>No Collections Found.</h4>
<%}%>
