
<% if(collData.user_id == session.loginUserId){%>
  <% include newItemForm.ejs %>
<%}%>

<div class='row'>
  <div class='col-md-12'>

     <div class="row list-group">

    <%
      for(var i = 0; i < I.length;i++){
        itemData = I[i];
    %>
    <div class="item  col-md-3 col-lg-3">
         <div class="thumbnail">
             <a href='/item/<%=itemData.item_id%>'>
               <img class="group list-group-image" src='/img/item_pics/<%=itemData.item_id%>' onerror="this.src='/img/item_pics/default'" />
             </a>
             <div class="caption">
                 <a href='/item/<%=itemData.item_id%>'>
                   <h4 class="group inner list-group-item-heading">
                     <%=itemData.itemName%>
                   </h4>
                  </a>
                 <p class="group inner list-group-item-text">
                    <%=itemData.itemType%></br>
                     Condition: <span class='text-<%=itemConds[itemData.itemCondition]%>'><%=itemData.itemCondition%></span></br>
                     Qty: <%=itemData.quantity%>
                 </p>
                 <div class="row">
                     <div class="col-md-12">
                         <p class="lead">
                           <%if(itemData.tradeStatus == 'Trading'){%>
                              $ <%=(itemData.tradePrice)?itemData.tradePrice.toFixed(2).toLocaleString():"N/A"%>
                            <%}else{%>
                               N/A
                            <%}%>
                          </p>
                     </div>
                     <%if(session.loginUserId !== collData.user_id){%>
                       <% include tradeButtons.ejs%>
                     <%}%>

                 </div>
             </div>
         </div>
     </div>
    <%
      }
    %>
    </div>
  </div>
</div>
