<div class='col-md-12 profileBack hasEdit'>
  <% var toEdit = '';
  if(user.username == session.loginUser){
    toEdit = 'toEdit';
    %>
    <input type='hidden' value='users' id='editTable' data-id='<%=session.loginUserId%>'>
    <div class='editPic editBackPic'>
      <button class='btn btn-primary'>Edit Cover Photo</button>
      <input class='backPicChange' type='file' style='visibility:hidden' name='/img/background_pics/<%=session.loginUserId%>'>
    </div>
  <%}%>
  <div class='row profileHead'>
    <div class='col-md-10 col-md-offset-1 profileCont'>
      <div class='col-md-3'>
        <div class='row'>
          <div class='col-md-8 col-md-offset-2  profilePic hasEdit'>
            <img src='/img/profile_pics/<%=user.user_id%>' onerror="this.src='/img/profile_pics/default.jpg'">
          <%
            if(user.user_id == session.loginUserId){

            %>
            <div class='editPic text-center'>
              <button class='btn btn-primary'>Edit</button>
              <input class='picChange' type='file' style='visibility:hidden' name='/img/profile_pics/<%=session.loginUserId%>'>
            </div>
          <%}%>
        </div>
      </div>
    </div>
     <div class='col-md-9 profileNav'>


        <div class='profileNavTabs'>
          <ul class="nav nav-tabs">
            <li role="presentation" ><a href="/users/<%=user.user_id%>">Profile</a></li>
            <li role="presentation" ><a href="/users/<%=user.user_id%>/collections">Collections</a></li>
            <li role="presentation" ><a href="/users/<%=user.user_id%>/tradehistory">Trade History</a></li>
          </ul>
        </div>
    </div>
  </div>
  </div>
</div>
