<div class='col-md-12 profileBack hasEdit'>
  <% if(user.name == session.loginUser){%>
    <div class='editPic editBackPic'>
      <button class='btn btn-primary'>Edit Cover Photo</button>
      <input class='backPicChange' type='file' style='visibility:hidden' name='/img/background_pics/<%=session.loginUserId%>'>
    </div>
  <%}%>
  <div class='row profileHead'>
    <div class='col-md-10 col-md-offset-1 profileCont'>
      <div class='col-md-3 profilePic hasEdit'>
        <img src='/img/profile_pics/<%=user.id%>' onerror="this.src='/img/profile_pics/default.jpg'">
      <% if(user.name == session.loginUser){%>
        <div class='editPic text-center'>
          <button class='btn btn-primary'>Edit</button>
          <input class='picChange' type='file' style='visibility:hidden' name='/img/profile_pics/<%=session.loginUserId%>'>
        </div>
      <%}%>
      </div>
     <div class='col-md-9 profileNav'>
        <h1><%=user.name%>
          <% if(user.name !== session.loginUser){%>
            <button type='button' class='btn btn-success'>Add Friend</button>
          <%}%>
        </h1>

        <p>User Description</p>
        <div class='profileNavTabs'>
          <ul class="nav nav-tabs">
            <li role="presentation" ><a href="/users/<%=user.id%>">Feed</a></li>
            <li role="presentation" ><a href="/users/<%=user.id%>/collections">Collections</a></li>
            <li role="presentation" ><a href="#">Trades</a></li>
            <li role="presentation"><a href="#">Friends</a></li>
          </ul>
        </div>
    </div>
  </div>
  </div>
</div>
