<%if(data.length !== 0){
  for(var i = 0;i < data.length;i++){%>
    <div class="searchItem row">
      <div class="col-md-3">
        <div class='row'>
          <div class='col-md-6 col-md-offset-3 searchPic'>
            <img src="/img/item_pics/<%=data[i].item_id%>" onerror="this.src='/img/item_pics/default'">
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class='text-left'>
          <span class='itemName'><%=data[i].itemName%></span></br>
          Quantity: <span class='quantity'><%=data[i].quantity%></span></br>
          Collection: <%=data[i].collName%>
        </div>
      </div>
      <div class='col-md-2'>
        <button class="btn btn-primary text-right addTradeItem" data-itemId="<%=data[i].item_id%>">Add</button>
      </div>
    </div>
  <%}%>
<%}else{%>
  <div class='text-center'>No Items Found</div>
<%}%>
