<%
  if(tradeOffers.length > 0){
    for(var i = 0;i < tradeOffers.length;i++){
      var trade = tradeOffers[i];
  %>
  <% if( trade.tradeStatus != 'Currently Trading' ||
  (!(trade.trader_id == session.loginUserId && trade.traderStatus == 'Canceled') && !(trade.owner_id == session.loginUserId && trade.ownerStatus == 'Canceled')
  )){

     %>
  <tr>

    <% if(showItem == true){%>
      <td scope='row' class='largeCell'>
        <a href='/item/<%=trade.item_id%>'>
          <div class='col-md-3' style='height:85px'>
            <img src='/img/item_pics/<%=trade.item_id%>' onerror="this.src='/img/item_pics/default'">
          </div>
          <div class='col-md-9'>
            <h4><%=trade.itemName%></h4>
            Collection: <%=trade.collName%>
          </div>
        </a>
      </td>
      <%}%>
    <%
    var id = trade.trader_id;
    var name = trade.traderName;
      if(itemOffers == false && session.loginUserId == trade.trader_id){
        var id = trade.owner_id;
        var name = trade.ownerName + "\n(Owner)";
      }
    %>
    <td scope='row' class='smallCell'>

      <a href='/users/<%=id%>'>
        <div class='row no-gutters'>
          <div class='col-md-6 smallProfilePic'>
            <img src='/img/profile_pics/<%=id%>' onerror="this.src='/img/profile_pics/default.jpg'">
          </div>
          <div class='col-md-6'>
            <p><%=name%></p>
          </div>
        </div>
      </a>
    </td>
    <td scope='row' class='medCell'>

      <%include tradeOptions.ejs%>
    </td>
  </tr>
  <%}%>
<%}
}else{%>
  <tr>
    <td style='width:100%'><p class='text-center'>Nothing here.</p></td>
  </tr>
<%}%>
