<% for(var i = 0;i < tradeOffers.length;i++){
  var trade = tradeOffers[i];
  %>
  <tr>
    <% if(showItem == true){%>
      <td scope='row' class='largeCell'>
          <div class='col-md-12'>
            <h4><%=trade.itemName%></h4>
            Collection: <%=trade.collName%>
          </div>
      </td>
      <%}%>
    <td scope='row' class='smallCell'>
      <a href='/users/<%=trade.trader_id%>'>
        <div class='row no-gutters'>
          <div class='col-md-6 smallProfilePic'>
            <img src='/img/profile_pics/<%=trade.trader_id%>' onerror="this.src='/img/profile_pics/default.jpg'">
          </div>
          <div class='col-md-6'>
            <p><%=trade.username%></p>
          </div>
        </div>
      </a>
    </td>
    <td scope='row' class='medCell'>

      <button class='btn btn-primary offerBtn' data-id='<%=trade.trade_id%>' data-toggle="modal" data-target="#viewOffer">View Offer</button>
      <% if(trade.trader_id == session.loginUserId){%>
        <button class='btn btn-danger cancelBtn' data-id='<%=trade.trade_id%>' data-toggle="modal">Cancel</button>
      <%}%>
    </td>
  </tr>
<%}%>
