<% for(var i = 0;i < tradeOffers.length;i++){
  var trade = tradeOffers[i];
  %>
  <tr>
    <td scope='row'>
        <div class='col-md-12'>
          <h4><%=trade.itemName%></h4></br>
          Collection: <%=trade.collName%>
        </div>
    </td>
    <td scope='row'>
      <a href='/users/<%=trade.user_id%>  text-left'>
        <p><%=trade.username%></p>
      </a>
    </td>
    <td scope='row'>
      <button class='btn btn-primary offerBtn' data-id='<%=trade.trade_id%>' data-toggle="modal" data-target="#viewOffer">View Offer</button>
      
    </td>
  </tr>
<%}%>
